body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.shutterstock.com/image-illustration/airplane-on-blue-background-flying-260nw-2097535360.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 750px;
    
}
#modal-body-id{
    
    display: flex;
    flex-direction: row;
    align-items: center;

    p{
        order: 2;
        margin-left: 1%;
    }
    img{
        order: 1;
        width: 50%;
        height: 50%;
    }
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 20vh;
    width: 70%;
    height: 300px;
    background-color: rgba(254, 248, 248, 0.187);
    border-top: 4px solid #586C9F;
}

.form-container button{
    background-color: #586C9F;
    border-color: white;
    width: 20%;
}
.form-container button:hover{
    background-color: white;
    color: #586C9F;
    border-color: #586C9F;
}


@media only screen and (max-width: 482px) {
    body{
        background-size: 500px 550px;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        position: relative;
        top: 10vh;
        width: 90%;
        height: 200px;
        background-color: rgba(254, 248, 248, 0.187);
        border-top: 4px solid #586C9F;
    }
    .form-container button{
        background-color: #586C9F;
        border-color: white;
        width: 40%;
    }
  }